<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj58.chr.data.dao.mapper.CVContentMapper">

	<resultMap id="CVContent" type="CVContent">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="value" column="value" />
		<result property="note" column="note" />
	</resultMap>

	<insert id="save" parameterType="CVContent">
		insert into cv_content
		(id,name,value,note)values(null,#{name},#{value},#{note})
	</insert>

	<update id="update" parameterType="CVContent">
		update cv_content set
		name=#{name},value=#{value},note=#{note}
		<where> id = #{id}</where>
	</update>

	<select id="findById" resultMap="CVContent" parameterType="int">
		select
		id,name,value,note from cv_content
		<where> id = #{id}</where>
	</select>

	<select id="findByName" resultType="String" parameterType="String">
		select value from cv_content
		<where> name = #{name}</where>
	</select>


	<delete id="remove" parameterType="int">
		delete from cv_content
		<where> id = #{id}</where>
	</delete>

</mapper>
