<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj58.chr.data.dao.mapper.RoleMapper">
	<resultMap id="Role" type="Role">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="menus" column="menus" />
		<result property="note" column="note" />
		<result property="createTime" column="create_time" />
	</resultMap>


	<insert id="save" parameterType="Role">
		insert into role
		(id,name,menus,note)values(null,#{name},#{menus},#{note})
	</insert>

	<update id="update" parameterType="Role">
		update role set
		name=#{name},menus=#{menus},note=#{note}
		<where> id = #{id}</where>
	</update>

	<select id="findById" resultMap="Role" parameterType="int">
		select
		id,name,menus,note from role
		<where> id = #{id}</where>
	</select>

	<delete id="remove" parameterType="int">
		delete from role
		<where> id = #{id}</where>
	</delete>


	<select id="list" resultMap="Role" parameterType="map">
		select
		id,name,menus,note,create_time from role order by id desc
		<if test="_parameter != null">
			limit #{pageRequest.offset},#{pageRequest.pageSize}
		</if>
	</select>

	<select id="count" resultType="long">
		select count(*) from role
	</select>

</mapper>
