<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">




	<bean id="parentdataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="30" />
		<property name="maxIdleTime" value="600" />
		<property name="acquireIncrement" value="2" />
		<property name="maxStatements" value="0" />
		<property name="initialPoolSize" value="5" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="breakAfterAcquireFailure" value="true" />
		<property name="testConnectionOnCheckout" value="false" />
		<property name="testConnectionOnCheckin" value="true" />
		<property name="preferredTestQuery" value="select id from rule where id = 1" />
	</bean>



	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		parent="parentdataSource">
		<property name="jdbcUrl" value="${jdbc.write.jdbcUrl}" />
		<property name="user" value="${jdbc.write.username}" />
		<property name="password" value="${jdbc.write.password}" />
	</bean>


</beans>