<?xml version="1.0" encoding="utf-8" ?>
<SCF> 
  <Service name="cuserapi" id="117" maxThreadCount="50">
    <Commmunication >
      <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:00:20" sendTimeout="00:00:03" receiveTimeout="00:00:03" waitTimeout="00:00:03" />
      <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
    </Commmunication>
    <Loadbalance>
      <Server deadTimeout="00:00:03">
        <add name="cuserapi1" host="10.0.4.41" port="18213" maxCurrentUser="100"  />
        <add name="cuserapi2" host="10.0.4.42" port="18213" maxCurrentUser="100"  />
        <add name="cuserapi3" host="10.0.4.43" port="18213" maxCurrentUser="100"  />
        <add name="cuserapi4" host="10.0.4.44" port="18213" maxCurrentUser="100"  />
      </Server>
    </Loadbalance>
  </Service>
  
  
  <Service name="cvservice" id="101" maxThreadCount="500000">
        <Commmunication >
          <SocketPool bufferSize="4096" minPoolSize="3" maxPoolSize="100" nagle="true" autoShrink="00:00:20" sendTimeout="00:00:02" receiveTimeout="00:00:02" waitTimeout="00:00:02" />
          <Protocol serialize="SCF" encoder="UTF-8" compressType="UnCompress" />
        </Commmunication>
        <Loadbalance>
          <Server deadTimeout="00:00:20">
            <add name="cvapi1" host="10.0.4.41" port="18345" maxCurrentUser="100"  />
            <add name="cvapi2" host="10.0.4.42" port="18345" maxCurrentUser="100"  />
            <add name="cvapi3" host="10.0.4.43" port="18345" maxCurrentUser="100"  />
            <add name="cvapi4" host="10.0.4.44" port="18345" maxCurrentUser="100"  />
          </Server>
        </Loadbalance>
  </Service>
  
</SCF>
